html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 0px;
  padding: 0px;
  border: 0px;
  font-size: 15px;
  background-color: #1e1e1e;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
  padding-left: 0px;
  padding-bottom: 30px;
}

.container {
  min-width: 650px;
  color: #f7f7f7;
  padding: 0px 30px 30px 30px;
  font-family: roboto, helvetica, arial;
}

.header {
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  margin-top: 0px;
  min-width: 710px;
  border-bottom: 0px solid #333333;
  text-align: center;
  font-size: 16px;
}

.horizontal-line {
  width: 100%;
  margin-top: 0px;
  min-width: 720px;
  border-bottom: 1px solid #333333;
}

a {
  text-decoration: none;
  color: #bfbfbf;
  border-bottom: 1px solid #555555;
  font-family: roboto, helvetica, arial;
}

a:hover {
  text-decoration: none;
  color: #dfdfdf;
  border-bottom: 1px solid #cfcfcf;
}

p {
  line-height: 135%;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

.participants1 {
  padding-left: 30px;
  float: left;
  width: 180px;
  line-height: 135%;
}

.participants2 {
  padding-left: 30px;
  float: left;
  width: 220px;
  line-height: 135%;
}

.participants3 {
  padding-left: 30px;
  float: left;
  width: 150px;
  line-height: 135%;
}

.pagetitle {
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
  font-family: roboto, helvetica, arial;
}

a.textlink {
  text-decoration: none;
  color: #efefef;
  border-bottom: 1px solid #555555;
  font-family: roboto, helvetica, arial;
}

a.textlink:hover {
  text-decoration: none;
  color: #dfdfdf;
  border-bottom: 1px solid #cfcfcf;
}

a.imagelink {
  text-decoration: none;
  border: 0px;
}

a.imagelink:hover {
  text-decoration: none;
  border: 0px;
}

a.menulink {
  text-decoration: none;
  color: #9f9f9f;
  border-bottom: 0px solid #555555;
  font-size: 15px;
  font-family: roboto, helvetica, arial;
}

a.menulink:hover {
  text-decoration: none;
  color: #dfdfdf;
  border-bottom: 1px solid #cfcfcf;
}

.text {
  margin-top: 80px;
  line-height: 125%;
}

.textblock {
  padding-left: 7px;
  width: 640px;
  margin: 0 auto;
  text-align: justify;
}

.textblockcentre {
  padding-left: 2px;
  width: 620px;
  text-align: center;
}

.textblocklist {
  padding-left: 7px;
  width: 640px;
  margin: 0 auto;
  line-height: 150%;
}

.registration {
  color: #bfbfbf;
  font-family: roboto, helvetica, arial;
}

.talktitle {
  font-style: italic;
}

.seriestitle {
  font-style: italic;
  padding-top: 10px;
}

.seriesabstract {
  padding-top: 3px;
  padding-bottom: 0px;
  line-height: 20px;
}

.seriesabstractlast {
  padding-top: 3px;
  padding-bottom: 30px;
  line-height: 20px;
}

.speakeraffil {
  padding-bottom: 2px;
}

.speaker {
  font-family: roboto, helvetica, arial;
}

.abstract {
  padding-top: 12px;
  padding-bottom: 30px;
  line-height: 20px;
}

.prtextblock {
  position: absolute;
  top: 140px;
  left: 100px;
  border: 0px solid #444444;
  width: 660px;
}

.prtitle {
  font-style: italic;
}

.prspeaker {
  font-family: roboto, helvetica, arial;
}

td {
  vertical-align: top;
}

.date {
  padding-bottom: 1px;
  margin-bottom: 8px;
  margin-top: 10px;
  border-bottom: 2px solid #333333;
  letter-spacing: 0px;
  font-family: roboto, helvetica, arial;
}

.tbl {
  border-spacing: 0px 9px;
  line-height: 145%;
  margin-left: 0px;
  text-align: left;
  margin-bottom: 20px;
}

.time {
  width: 110px;
}

.problems {
  float: right;
}

a.problems {
  text-decoration: none;
  color: #6f6f6f;
  border-bottom: 0px solid #555555;
  font-family: roboto, helvetica, arial;
}

a.problems:hover {
  text-decoration: none;
  color: #dfdfdf;
  border-bottom: 1px solid #cfcfcf;
}

/*** Works on common browsers ***/
::selection {
  background-color: #ffffff;
  color: #000000;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #ffffff;
  color: #000000;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #ffffff;
  color: #000000;
}

::-ms-selection {
  background-color: #ffffff;
  color: #000000;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #ffffff;
  color: #000000;
}

